# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.dart_tool/

# macOS related
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.symlinks/
macos/Pods/
macos/Runner.xcworkspace/
macos/DerivedData/
macos/.dart_tool/

# Android related
.android/
app/build/
android/.gradle/
android/.idea/
*.iml
local.properties
.gradle/
**/gradle-wrapper.properties

# Web related
web/.dart_tool/
web/build/

# Windows related
windows/flutter/ephemeral/
windows/.dart_tool/
windows/build/

# Linux related
linux/flutter/ephemeral/
linux/.dart_tool/
linux/build/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Other
*.log
*.lock
*.tmp
*.DS_Store
*.swp
*.swo
*.swn

# Firebase related
ios/Runner/GoogleService-Info.plist
android/app/google-services.json